.home-panel {
    left: 220px;
    width: calc(100% - 220px);
    background: rgba(246, 248, 249, 0.954);
    height: 800px;
    border-radius: 10px;
    margin-top: 20px;
    gap: 20px;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    transition: all 0.5s ease;

}

.home-panel-1{

    background:white;
    width: 300px;
    height: 200px;
    position: relative;
    display: flex;
    text-align: center;
    border-radius: 8px;
}

.home-panel-2 {

    background:white;
    width: 300px;
    height: 200px;
    position: relative;
    display: flex;
    border-radius: 8px;
}

.home-panel-3 {

    background:white;
    width: 300px;
    height: 200px;
    position: relative;
    display: flex;
    border-radius: 8px;
}

.home-panel-4 {

    background:white;
    width: 300px;
    height: 200px;
    position: relative;
    display: flex;
    border-radius: 8px;
}

.home-panel-5 {

    background:white;
    width: 300px;
    height: 200px;
    position: relative;
    display: flex;
    border-radius: 8px;
}

/*iconos del panle */

.icons {
    position: absolute;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 8px;
    display: flex;
 
}
.icon-2{
    position: absolute;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    display: flex;
}

.estd {
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    color: #868988;
    
}
.std-1{
    position: absolute;
    margin-top: 130px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 15px;
    color: #c5c5c5;
}