@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeflex/primeflex.css";
@import "bootstrap/dist/css/bootstrap.css";
@import 'primeicons/primeicons.css';
/*@import "primeicons.css';";*/

.card {
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 6rem;
  border: 2px solid #ccc;
}

.listarGrados {
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
}

.btn {

  width: 25px;
  height: 25px;
  margin: 0 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.add-icon {
  width: 10px;
  height: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  position: center;
  margin-top: -15px;
  margin-left: -10PX;
  /*https://www.youtube.com/watch?v=c1MunmL1a2Q* MINUTO 20>8*/
}

.grado-gradoInfo h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
}

.grado-gradoInfo .box {
  padding: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.grado-gradoInfo p {
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.grado-gradoInfo p span {
  display: inline-block;
  min-width: 12opx;
}

.grado-gradoInfo p span:first-child {
  /*color: #6c757d;*/
  color: #111010;
}

.grado-gradoInfo p span:last-child {
  color: #0f0d0d;
  font-weight: bold;
}

.btnAgregar {
  border-radius: 5px;
  position: relative;
  padding: 0 10px;
  margin-left: 700px;
  margin-bottom: 10px;

}

.btn-guardar {
  margin-left: 20px;
  margin-bottom: 20px;

}

.btn-guardar-save {
  border-radius: 5px;
  padding: 0 10px;
}

input p {
  border-bottom: none;
}
 /*estilos css del boton nuevo estudiantes */
.busqueda .btn-add {
  height: 35px;
  border-radius: 5px;
  padding: 10px;
}

.busqueda-icon {
  width: 250px;
  height: 35px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
}

.btn-add {
  margin-left: 850px;
  top: -30px;
}